<%
const cfg = { ...require("./data.json"), ...arguments?.[0] }
const {
    extraClasses,
    extraAttrs,
    id,
    name,
    type,
    placeholder,
    required,
    value,
    autocomplete,
    disabled,
    readonly
} = cfg
%>
<%
const classes = `example ${extraClasses.join(" ")}`.trim()
const attrs = extraAttrs.join(" ")

const getLabelMarkup = () => {
  return `
    <label for="${ id }>Текст лейбла</label>
  `
}

%>
<input
        class="<%= classes %>"
        <%- attrs %>
        <% if (disabled) { %>
          disabled
        <% } %>
        <% if (required) { %>
          required
        <% } %>
        <% if (readonly) { %>
          readonly
        <% } %>
>
</input>