.select-control {
    border: none;
    height: 40px;
    margin-top: 25px;
    padding-inline: 30px;
    border-inline: 1px solid var(--c-dark-2);
    font-family: var(--base-font-family);
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    color: var(--c-dark);
}