.i-icon {
    --color: #000000;
    --size: 1em;

    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: var(--size);
    height: var(--size);

    * {
        fill: var(--color);
    }
}