@import "mixins.pcss";

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    display: block;
    font-weight: 700;
    font-family: var(--base-font-family);
}

h1, .h1 {
    @mixin fluid-text 56, 28;
}

h2, .h2 {
    @mixin fluid-text 42, 24;
}

button {
    * {
        pointer-events: none;
    }
}

main {
    position: relative;
}
