@import "./media.pcss";

:root {
/* цвета, шрифт, сетка выделить в переменные */
    --main-dark: #003882;
    --main-dark-2: #167BFF;
    --main-dark-text: #333333;
    --main-light-text: #888888;
    --main-add-text: #D9D9D9;
    --gray-back: #F6F6F6;
    --icons-back: #7F9BC0;
    --forms-back: #F6F6F6;
    --main-light: #FFFFFF;
}