@import "../../styles/mixins.pcss";

.button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 4px 12px;
    background-image: linear-gradient(45deg, rgb(95, 184, 180), rgb(150, 255, 190));
    border: 1px solid #000000;
    border-radius: 2px;
    cursor: pointer;
    transition: 0.3s;

    &:active {
        transform: scale(1.05);
    }
}