@import "../../styles/mixins.pcss";

.button {
    align-items: center;
    padding: 4px 12px;
    background-color: var(--main-dark);
    cursor: pointer;
    color: var(--main-light);
    height: 40px;

    &:hover {
        color: var(--main-light-text);
    }

    &:active {
        transform: scale(1.05);
    }
}