<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- title %></title>
</head>
<header class="header">
    <a href="/" class="header__logo">
        <img src="../images/logo_symbol.png" alt="Логотип компании" class="header__image">
        <svg width="175" height="25" viewBox="0 0 175 25" class="header__logo-text" xmlns="http://www.w3.org/2000/svg">
            <path d="M17.3462 5.38896C16.7122 4.43796 15.8669 3.80397 14.8102 3.27564C13.7536 2.85297 12.8026 2.53598 11.6402 2.53598C10.3723 2.53598 9.20988 2.74731 8.15321 3.27564C7.09655 3.80397 6.14559 4.43796 5.40592 5.38896C4.66626 6.23429 4.03225 7.29096 3.60959 8.45329C3.18692 9.61561 2.97562 10.7779 2.97562 12.0459C2.97562 13.4196 3.18692 14.5819 3.60959 15.7442C4.03225 16.9066 4.66626 17.8576 5.40592 18.7029C6.14559 19.5482 7.09655 20.1822 8.15321 20.7105C9.20988 21.2389 10.3723 21.4502 11.6402 21.4502C13.0139 21.4502 14.2819 21.1332 15.3386 20.6049C16.3952 20.0766 17.3462 19.2312 18.1915 18.2802L20.1992 19.9709C19.1425 21.3445 17.9802 22.2955 16.5009 23.0352C15.0215 23.6692 13.4366 23.9862 11.6402 23.9862C10.0553 23.9862 8.47021 23.6692 7.09655 23.0352C5.7229 22.4012 4.4549 21.5559 3.39824 20.4992C2.34158 19.4425 1.49627 18.1746 0.967935 16.6952C0.333939 15.2159 0.12262 13.6309 0.12262 11.9403C0.12262 10.2496 0.439605 8.66461 0.967935 7.29095C1.49627 5.81163 2.34158 4.54364 3.39824 3.48698C4.4549 2.43032 5.61723 1.58498 7.09655 0.950988C8.47021 0.316992 10.0552 0 11.7459 0C13.3309 0 14.8102 0.317001 16.1839 0.845332C17.5575 1.37366 18.8255 2.32465 19.7765 3.59264L17.3462 5.38896Z"/>
            <path d="M37.0001 24.0919C35.3095 24.0919 33.7245 23.7749 32.2452 23.1409C30.7658 22.5069 29.4978 21.6615 28.4411 20.6049C27.3845 19.5482 26.5392 18.2802 26.0108 16.8009C25.3768 15.3216 25.1655 13.7366 25.1655 12.0459C25.1655 10.3553 25.4825 8.77028 26.0108 7.29095C26.6448 5.81163 27.3845 4.54364 28.4411 3.48698C29.4978 2.43032 30.7658 1.58498 32.2452 0.950988C33.7245 0.316992 35.3095 0 37.0001 0C38.6908 0 40.2758 0.316992 41.7551 0.950988C43.2344 1.58498 44.5024 2.43032 45.5591 3.48698C46.6157 4.54364 47.461 5.81163 47.9894 7.29095C48.6234 8.77028 48.8347 10.3553 48.8347 12.0459C48.8347 13.7366 48.5177 15.3216 47.9894 16.8009C47.3554 18.2802 46.6157 19.5482 45.5591 20.6049C44.5024 21.6615 43.2344 22.5069 41.7551 23.1409C40.2758 23.7749 38.6908 24.0919 37.0001 24.0919ZM37.0001 21.5559C38.3738 21.5559 39.5361 21.3445 40.5927 20.8162C41.6494 20.2879 42.6004 19.6539 43.4457 18.8086C44.1854 17.9632 44.8194 16.9066 45.2421 15.8499C45.6647 14.6876 45.8761 13.5253 45.8761 12.1516C45.8761 10.8836 45.6647 9.61561 45.2421 8.45328C44.8194 7.29096 44.1854 6.33996 43.4457 5.49463C42.7061 4.6493 41.7551 4.01531 40.5927 3.48698C39.5361 2.95865 38.2681 2.74731 37.0001 2.74731C35.6265 2.74731 34.4641 2.95865 33.4075 3.48698C32.3508 4.01531 31.3998 4.6493 30.5545 5.49463C29.8148 6.33996 29.1808 7.39662 28.7581 8.45328C28.3355 9.61561 28.1242 10.7779 28.1242 12.1516C28.1242 13.4196 28.3355 14.6876 28.7581 15.8499C29.1808 17.0122 29.8148 17.9632 30.5545 18.8086C31.2941 19.6539 32.2451 20.2879 33.4075 20.8162C34.4641 21.3445 35.6265 21.5559 37.0001 21.5559Z"/>
            <path d="M55.5974 0.739746H59.6127L67.3263 18.5973H67.432L75.1456 0.739746H79.0553V23.4579H76.3079V4.43806H76.2023L68.066 23.4579H66.481L58.3447 4.43806H58.2391V23.4579H55.4918V0.739746H55.5974Z"/>
            <path d="M87.0858 0.739746H93.8485C94.9051 0.739746 95.8561 0.845415 96.8071 1.05675C97.7581 1.26808 98.6034 1.58508 99.3431 2.11341C100.083 2.64174 100.717 3.27574 101.139 4.0154C101.562 4.86073 101.773 5.81171 101.773 6.97404C101.773 8.24203 101.562 9.19303 101.034 10.0384C100.611 10.8837 99.9771 11.5177 99.2374 11.9404C98.4977 12.363 97.6524 12.7857 96.8071 12.8913C95.9618 13.1027 95.1164 13.2083 94.2711 13.2083H89.7275V23.4579H86.9802V0.739746H87.0858ZM89.7275 10.778H94.2711C95.6447 10.778 96.7014 10.461 97.5468 9.82703C98.3921 9.19304 98.8148 8.24203 98.8148 6.97404C98.8148 5.70604 98.3921 4.75505 97.5468 4.12106C96.7014 3.48706 95.6447 3.17007 94.2711 3.17007H89.7275V10.778Z"/>
            <path d="M113.502 0.739746H116.038L125.654 23.4579H122.484L120.159 17.8576H108.853L106.528 23.4579H103.464L113.502 0.739746ZM114.77 4.22673L110.015 15.4273H119.314L114.77 4.22673Z"/>
            <path d="M131.149 0.739746H134.53L147.738 19.654H147.844V0.739746H150.591V23.4579H147.21L134.002 4.54373H133.896V23.4579H131.149V0.739746Z"/>
            <path d="M163.905 13.631L155.452 0.739746H158.833L165.173 10.9894L171.724 0.739746H175L166.547 13.631V23.4579H163.799V13.631H163.905Z"/>
        </svg>
    </a>
    <nav class="header__nav main-nav main-nav--nojs main-nav--closed">
        <ul class="main-nav__list">
            <li class="main-nav__item"><a class="main-nav__link" href="/">О компании</a></li>
            <li class="main-nav__item"><a class="main-nav__link" href="/">Продукция</a></li>
            <li class="main-nav__item"><a class="main-nav__link" href="/">Исследования</a></li>
            <li class="main-nav__item"><a class="main-nav__link" href="/">События</a></li>
            <li class="main-nav__item"><a class="main-nav__link" href="/">Контакты</a></li>
        </ul>
    </nav>
    <button class="main-nav__toggle" type="button">
        <span class="visually-hidden">Открыть меню</span>
    </button>
    <div class="header__buttons-wrapper">
    <%- require("../components/button/template.ejs")({
        extraAttrs: [
            `data-js-modal-open-button = '{"src": "#modal-feedback"}'`
        ],
        label: 'Обратная связь',
        extraClasses: [
            "button--header"
        ]
    }) %>
    <%- require("../components/lang-switcher/template.ejs")({
        extraClasses: [
            "header__lang-switcher"
        ]
    }) %>
    <%- require("../components/button/template.ejs")({
        extraClasses: [
            "button--transparent", "button-search"
        ],
        label: "",
        icon: "search-new"
    }) %>
    </div>
</header>
<body>