<section class="hero">
    <div class="hero__slider"></div>
    <div class="hero__advantages">
        <ul class="hero__adv-list">
            <li class="hero__adv-item">
                <span class="hero__adv-amount"> 60 </span>
                лет на рынке
            </li>
            <li class="hero__adv-item">
                <span class="hero__adv-amount"> 5 </span>
                новых мест
            </li>
            <li class="hero__adv-item">
                <span class="hero__adv-amount"> >600 </span>
                миллионов выделено
            </li>
            <li class="hero__adv-item">
                <span class="hero__adv-amount"> >100 </span>
                стран присутствия
            </li>
            <li class="hero__adv-item">
                <span class="hero__adv-amount"> 478 </span>
                добрых дел было сделано в 2021 году
            </li>
        </ul>
    </div>
</section>
